name: Dotnet App Action Demo

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup .NET Environment
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 7.0.x

      - name: Restoring the Dependencies
        run: dotnet restore

      - name: Building the Application
        run: |
          echo Application is Building
          dotnet build --no-restore
  test:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup .NET Environment
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 7.0.x

      - name: Restoring the Dependencies
        run: dotnet restore

      - name: Running Tests
        run: dotnet test --no-restore
  publish:
    needs: test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build & Push Docker Image to Docker Hub
        uses: mr-smithers-excellent/docker-build-push@v6
        with:
          image: dhiraj2001/cyberapp
          tags: latest
          registry: docker.io
          dockerfile: CyberShop/Dockerfile
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
    
